body {
    margin: 0;
    padding: 0;
    background: #efeeef;
    font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
}

#content {
    margin: 20px auto;
    padding: 10px;
    width: 750px;
    border: 4px solid #fff;
    background: #e6e6e6;
}

#comparison {
    width: 750px;
}

table th:first-child {
    width: 115px;
}

table th:nth-child(2) {
    width: 250px;
}

th {
    background: #ccc;
    padding: 6px;
}

table td {
    text-align: center;
}

table td:first-child,
table td:nth-child(2) {
    text-align: left;
}

form input[type="text"],
form input[type="number"] {
    border: 1px solid #a2a2a2;
    color: #333;
    font-size: 1.3em;
    margin: 5px 0 6px 0;
    padding: 7px;
    width: 160px;
}

form input[type="submit"] {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    padding: 7px 12px;
}

@media all and (max-width: 780px) {
    #content {
        margin: 10px auto;
        padding: 10px;
        width: 100%px;
        border: none;
        background: none;
    }
    #comparison {
        width: 100%;
    }
}