html {
    min-width: 280px;
}

body {
    margin: 0;
    padding: 0;
    background: #efeeef;
    font-family: "Open Sans",Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
}

input[type="text"],
input[type="number"] {
    border: 1px solid #a2a2a2;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 6px;
}

input[type="submit"] {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 400;
    padding: 6px 10px;
}
input[type="text"]:focus {
    background: #fafafa;
}
input:focus {
    outline: none !important;
}

#content {
    margin: 20px auto;
    padding: 10px;
    width: 750px;
}

#welcome {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 150px;
    text-align: center;
    font-size: 1.2em;
    color: #666;
    padding: 0 10px;
}
#welcome > span:first-child {
    color: #111;
    font-size: 1.8em;
}

#search {
    text-align: center;
    padding: 5px 0;
}
#search form {
    display: inline-block;
}
.welcome-search {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 100%;
}

.result {
    margin: 10px;
    padding: 10px;
    background: white;
    box-shadow: 0 0 6px 0 #DDD;
}
.result .loading {
    display: block;
    text-align: center;
}
.result .isbn {
    display: block;
    color: #999;
    font-size: 0.95em;
}
.result .title {
    display: block;
    font-weight: 600;
    font-size: 1.1em;
    text-transform: uppercase;
}
.result table {
    width: 100%;
    text-align: center;
}
.result table td span:first-child {
    color: #999;
}
.result table td span:last-child {
    font-size: 1.8em;
}
.result table tr td {
    width: 33%;
}
.result table tr td.best {
    background-color: rgb(231, 250, 231);
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 0.85em;
    font-style: italic;
    margin: 12px 4px;
    line-height: 1;
}
.footer-search {
    position: relative;
}

@media all and (max-width: 780px) {
    #content {
        margin: 10px auto;
        padding: 0;
        width: 100%;
        border: none;
        background: none;
    }
    #welcome > span:first-child {
        font-size: 1.3em;
    }
    #welcome {
        top: 50px !important;
        bottom: 50px !important;
    }
    #search {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: #efeeef;
    }
    .welcome-search {
        position: fixed;
        top: 0;
        margin: 0;
    }
    #results {
        margin-top: 65px;
    }
}